@import '../../../../../assets/styles/mixins/mixins.scss';

.code-cell {
  font-weight: 700;
  text-transform: uppercase;
}

.plate {
  background: white;
  border: 2px solid black;
  border-radius: 4px;
  height: 36px;
  width: 220px;
}

.plate__sidebar {
  background: var(--euroflag);
  width: 20px;
  height: 32px;
}

.plate__sidebar__text {
  color: white;
  font-size: 8px;
  height: 16px;
  line-height: 16px;
}

.plate__sidebar__img {
  height: 16px;
  img {
    height: 12px;
    width: 12px;
  }
}

.plate__text {
  font-family: Motor4F;
  font-size: 3.9rem;
  letter-spacing: -1px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  width: 188px;
}

.container {
  max-width: 980px;
}