::ng-deep {
  .map__marker_label {
    background: white;
    font-family: 'Motor4f' !important;
    font-size: 2.2rem !important;
    font-weight: 700;
    line-height: 0.9;
    margin-top: -10px;
    padding: 0 3px;
  }
}
