<mat-progress-bar mode="indeterminate" [class.invisible]="!isLoading"></mat-progress-bar>

<div class="container pt-5 pb-5">
  <form class="plate-form">
    <div class="plate-form__description pt-3 pb-3">
      <p>Wpisz od 1 do 3 liter w poniższym polu, aby dowiedzieć się,
        w jakim regionie/mieście został wydany numer. 
      </p>
      <p>
        Na przykład
        <a mat-stroked-button (click)="searchByExampleQuery()">{{ exmampleSearchQuery }}</a>
      </p>
    </div>
    <div class="plate__wrapper" [class.plate__wrapper_promo]="isPromo">
      <div class="plate__box flex" [class.plate__box_promo]="isPromo">
        <div class="plate__sidebar flex direction-column align-center justify-around ">
          <div class="plate__flag">
            <img src="assets/images/eurostars.svg" />
          </div>
          <div class="plate__country-code">
            PL
          </div>
        </div>
        <div class="plate__main flex justify-between align-center ">
          <div class="plate__input">
            <app-input
              [control]="plateForm.plate"
              [showLabel]="false"
              [showCloseBtn]="false"
              [maxLength]="dynamicMaxLength"
            >
            </app-input>
          </div>
          <div class="plate__random-number">
            {{ randomPlate }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
