<mat-progress-bar mode="indeterminate" [class.invisible]="!isLoading"></mat-progress-bar>

<div class="container mt-5 mb-5">
  <form class="plate-form mt-5">
    <div class="plate-form__description mt-3 mb-3">
      Wpisz od 1 do 3 liter w poniższym polu, aby dowiedzieć się, w jakim regionie/mieście został wydany numer.
    </div>
    <div class="plate__wrapper">
      <div class="plate__box">
        <div class="plate__sidebar">
          <div class="plate__flag">
            <img src="assets/images/eurostars.svg" />
          </div>
          <div class="plate__code">
            PL
          </div>
        </div>
        <div class="plate__main">
          <div class="plate__input">
            <app-input
              [control]="plateForm.plate"
              [showLabel]="false"
              [showCloseBtn]="false"
              [maxLength]="dynamicMaxLength"
            >
            </app-input>
          </div>
          <div class="plate__random-number">
            {{ randomPlate }}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
