@mixin text1 {
  font-size: 2.6rem;
  line-height: 1.4;
}

@mixin text1Mobile {
  font-size: 1.4rem;
}

@mixin text2 {
  font-size: 2rem;
  line-height: 1.4;
}

@mixin text2Mobile {
  font-size: 1.6rem;
}

@mixin plateNumber {
  font-size: 16.4rem;
  font-family: Motor4f;
}

@mixin plateNumberMobile {
  font-size: 4.8rem;
}

@mixin plateNumberTablet {
  font-size: 8.2rem;
}

@mixin plateNumberMedium {
  font-size: 10rem;
}