@import '../../../../../assets/styles/mixins/mixins.scss';

.search-result {
  @include text2;
  line-height: 2;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 20px;

  @include to-medium-desktop {
    max-width: 580px;
  }

  @include mobile {
    @include text1Mobile;
    align-items: flex-start;
    max-width: 320px;
  }

  @include to-big-mobile {
    margin: -1rem auto 0;
  }
}

.search-result__item {
  @include to-small-desktop {
    line-height: 2.4;
  }

  @include big-mobile {
    @include text2Mobile;
  }

  &_nothing-found {
    color: var(--error);
    text-align: center;
  }

  &_district {
    width: 100%;
  }
}

.search-result__label {
  margin-right: 5px;
  font-weight: 700;
}

.search-result__data {
  margin-left: 2px;
}

.search-result__list-item {
  display: list-item;
  list-style: circle;
  margin-left: 20px;
}

.search-result__data_link {
  border-style: dashed;
  display: inline-block;
  height: 50px;
  line-height: 50px !important;
  margin-top: -6px;

  @include mobile {
    @include text2Mobile;
  }
}