<div class="header">
  <mat-toolbar>
    <div
      class="logo flex"
      (click)="navigateToDashboard()"
      [class.pointer]="isInnerPage"
    >
      <div class="logo__sidebar flex direction-column justify-around align-center">
        <div class="logo__sidebar__img">
          <img src="assets/images/eurostars.svg" />
        </div>
        <div class="logo__sidebar__text">PL</div>
      </div>
      <div class=logo__text>
        auto•plates
      </div>
    </div>
    <span class="header-spacer"></span>
    <app-version></app-version>
  </mat-toolbar>
  
  <mat-progress-bar mode="indeterminate" [class.invisible]="!isLoadInProgress"></mat-progress-bar>
</div>
