$mobile: 320px;
$iphone: 375px;
$big-mobile: 640px;
$tablet: 768px;
$small-desktop: 1024px;
$medium-desktop: 1200px;
$laptop13: 1366px;
$mac13: 1440px;
$laptop15: 1536px;
$mac15: 1680px;
$big-desktop: 1920px;
$imac: 2560px;
