:root {
  --primary: #00c1ff;
  --active-primary: #04a7db;
  --bg-primary: #e4fbff;
  --bg-secondary: #ffebeb;
  --bg-tertiary: #dbffe9;
  --light-grey: #ecf3f5;
  --grey-border: #ddd;
  --error: #ff2c2c;
  --error-active: #e00000;
  --text-default: #000;
  --placeholder: #000;
  --active-item: green;
  --inactive-item: #ff2c2c;
  --warning: #e1b30d;
  --valid: #40e687;
  --error-input: #fc7777;
  --light-blue: #e5faff;
  --calendarCellHover: #d4dfe2;
  --notificationSuccess: #40e687;
  --notificationError: #fc7777;
  --notificationWarning: #e1b30d;
  --notificationNeutral: #2b2d33;
  --notificationNeutralText: #fff;
  --white: #fff;
}
