.sticky {
  position: sticky;
}

.invisible {
  opacity: 0;
}

.letter_spacing_0 {
  letter-spacing: 0;
}

.mat-body,
.mat-body-1,
.mat-typography .mat-body,
.mat-typography .mat-body-1,
.mat-typography {
  letter-spacing: 0 !important;
}
